* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.top_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top_info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top_back.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.top_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.top_heading {
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    margin-bottom: 32px;
}

.top_text {
    width: 425px;
}

.heading-contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.what-we-do {
    padding-top: 64px;
}

.heading {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1f3f68;
    margin-bottom: 14px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.text_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.card-box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card_img {
    align-self: center;
    margin-bottom: 51px;
}

.card_link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.main {
    display: flex;
}


.project_img {
    width: 100%;
}

.project_parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 112px;
}

.project_item {
    position: relative;
    ;
    flex-grow: 1;
}

.project_item_margin {
    margin-right: 32px;
}

.project_text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    position: absolute;
    top: 64px;
    right: 64px;
    color: #FFFFFF;
}

.project_text_mini {
    right: auto;
    left: 32px;
    top: 32px;
    text-align: left;
}

.project_text_parent {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 32px;
    left: 32px;
    position: absolute;
}

.footer {
    background-image: url(img/bot_back.png);
}

.footer_parent {
    display: flex;
    justify-content: space-between;
}

.footer_parent_item-1 {
    display: flex;
    flex-direction: column;
    margin-top: 91px;
}

.footer_parent_item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_heading {
    max-width: 341px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.footer_text {
    width: 494.77px;
    color: #FFFFFF;
    margin-bottom: 96px;
}

.footer_copyright {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
}

.footer_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    background: #5A98D0;
    padding: 15px 80px;

}

.footer_hr {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    width: 100%;
}

.footer_bot {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
}

.footer_list {
    display: flex;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    list-style-position: inside;
    justify-content: space-between;
    padding-inline-start: 0;
}

.footer_copyright {
    padding-bottom: 64px;
}


@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .header {
        padding-top: 52px;
    }

    .top_info {
        background-position: right 290px;
    }

    .top_button {
        margin-bottom: 190px;
    }

    .card-box {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
    }

    .footer_text {
        max-width: 336px;
    }

    .footer_bot {
        align-items: center;
    }

    .footer_list {
        display: block;
    }

    .footer_parent_item-1 {
        flex-grow: 1;
        align-items: center;
    }

    .footer_parent_item-2 {
        flex-grow: 1;
        align-items: center;
    }

    .f_li {
        padding-bottom: 24px;
    }

    // Contacts Tablet
    .contacts_form {
        flex-direction: column;
        margin-bottom: 64px;
    }

    .contacts_contacts {
        align-self: center;
        margin-right: 0;
    }


    .li_4 {
        margin-bottom: 64px;
    }

    .form {
        max-width: 520px !important;
        max-height: 780px !important;
        align-self: center;
        box-sizing: border-box;

    }

    .inputtextarea {
        max-width: 428px;
        max-height: 70px;
    }

    .textarea-pref {
        max-height: 140px;
    }

    .map {
        max-width: 768px;
        max-height: 392px;
        margin-bottom: 64px;
    }

    .footer_copyright {
        margin-top: 0;
    }




}

@media (max-width: 667px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        padding-top: 24px;
    }

    .top {
        min-height: 376px;
        box-sizing: border-box;
    }

    .top_info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .top_heading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }

    .top_text {
        width: 100%;
        text-align: center;
    }

    .top_button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
        margin-bottom: 41px;
        margin-top: 32px;
    }

    .heading {
        font-size: 24px;
        line-height: 28px;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .card-box {
        padding-top: 32px;
    }

    .card {
        width: 100%;
    }

    .text_project {
        width: 100%;
    }

    .project_text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project_text_mini {
        left: 16px;
    }

    .project_parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project_item_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer_heading {
        font-size: 24px;
        line-height: 28px;
        max-width: 341px;
    }

    .footer_text {
        margin-bottom: 40px;
        align-items: center;
    }

    .footer_bot {
        align-items: center;
        display: flex;
    }

    .footer_list {
        display: block;
        margin-bottom: 32px;
    }

    .footer_parent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_parent_item-1 {
        flex-grow: 1;
        align-items: center;
        width: 100%;
        margin-top: 18px;
    }

    .footer_parent_item-2 {
        flex-grow: 1;
        align-items: center;
    }

    .f_li {
        padding-bottom: 17px;
    }

    .footer_hr {
        margin-top: 48px;
    }

    // Contacts phone
    .contacts_form {
        flex-direction: column;
        margin-bottom: 32px !important;
    }

    .contacts_contacts {
        align-self: center;
        margin-right: 0 !important;
    }

    .h4_style_form {
        margin-bottom: 31px !important;
    }

    .li_4 {
        margin-bottom: 64px;
    }

    .form {
        max-width: 342px !important;
        align-self: center;
        box-sizing: border-box;
        padding-left: 36px !important;
        padding-top: 36px !important;
        padding-right: 36px !important;
    }

    .inputtextarea {
        max-width: 271px;
        max-height: 46px;

    }

    .textarea-pref {
        max-height: 92px;
    }

    .map {
        max-width: 100%;
        max-height: 349px;
    }

    .footer_copyright {
        margin-top: 0;
    }

    .buttonstyle {
        padding: 15px 60px !important;
        margin-bottom: 36px !important;
        width: 100%;
    }

    .textarea-marginbot {
        margin-bottom: 46px !important;
    }


}

// Обертка для прижатия подвала к низу экрана
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// Contacts

.container_contacts {
    max-width: 1140px;
    margin: 0 auto;
}

.top_contacts {
    height: 471px;
    margin-top: 18px;
}


.top_contacts_prefences {
    display: flex;
    flex-direction: column;
    align-items: center;

    .top_menu {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        width: 100%;
        padding-top: 26px;
    }

    .bg-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 250px;
        min-width: 110%;
        background-image: url(img/top_back_contacts.png);
        background-repeat: no-repeat;
        background-position: center;

        margin-top: 54px;

    }

    .top_h2_contacts {
        font-weight: 500;
        font-size: 44px;
        line-height: 74px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;

        padding-top: 51px;

    }

    .p_style_contacts {
        max-width: 780px;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.6);
    }
}

.contacts_form_map {
    display: flex;
    flex-direction: column;
    align-items: center;

    .h4_style {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: #1F3F68;

        margin-bottom: 24px;
    }

    .p_style {
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        opacity: 0.6;
    }

    .p_1 {
        margin-bottom: 40px;
    }


    .li_1 {
        margin-bottom: 16px;
        list-style-image: url(img/phone.svg);
    }

    .li_2 {
        margin-bottom: 40px;
        list-style-image: url(img/phone.svg);
    }

    .li_3 {
        margin-bottom: 16px;
        list-style-image: url(img/web.svg);
    }

    .li_4 {
        list-style-image: url(img/mail.svg);
    }



    .contacts_form {
        display: flex;
        margin-bottom: 96px;


        .contacts_contacts {
            max-width: 301px;
            max-height: 668px;
            margin-right: 60px;
        }

        .ita-padding {
            padding-top: 20px;
            padding-left: 40px;
        }

        .form {
            max-height: 800px;
            max-width: 540px;
            background: #FFFFFF;
            box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
            border-radius: 10px;
            padding-left: 56px;
            padding-top: 56px;
            padding-right: 56px;


            .h4_style_form {
                margin-bottom: 48px;

            }

            .inputtextarea {
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.04em;
                color: #1F3F68;
                opacity: 0.8;

                opacity: 0.4;
                box-sizing: border-box;
                border-radius: 10px;
                height: 72px;
                width: 428px;


                margin-bottom: 32px;
                margin-top: 8px;
            }

            .textarea-marginbot {
                margin-bottom: 72px;
                height: 148px;
            }

            .buttonstyle {
                background: #5A98D0;
                box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
                border-radius: 10px;
                padding: 23px 183px;
                margin-bottom: 79px;

                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                letter-spacing: 0.04em;
                color: #FFFFFF;
            }
        }
    }

    .map {
        width: 900px;
        margin-bottom: 112px;
    }
}